body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('../Images/fond.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

barreNav {
    background-color: #BE202E;
    padding: 0.7rem;
    display: block;
}

retour {
    text-align: left;
    position: absolute;
    top: 21px;
    left: 25px;
}

barreNav a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    position: relative;
    font-family : DejaVu Sans Mono, monospace;
    transition: color 1s;
}

barreNav a:hover {
    color:#111111fa;
    transition: color 0.75s;
}

barreNav ul {
    list-style: none;
    text-align: center;
}

barreNav ul li {
    display: inline;
    margin: 20px;
}

.textePres {
    background-color: white;
    border-radius: 9px;
    padding: 20px;
    margin: 50px auto;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 0 8px #a41d24b3;
}

.textePres p {
    font-size: 16px;
    line-height: 1.5;
}
